* , html {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about_me {
    display: flex;
    flex-wrap: nowrap; /* NO DE UN SALTO DE LINEA */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    /*border-color: black;
    border-style: solid;*/
}

h1 {
    font-family: monospace;
    font-size: 50px;

}

h2 {
    font-family: monospace;
    font-size: 30px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p {
    margin-top: 10px;
    font-family: 'Lucida Sans';
    font-size: 25px;
    font-weight: bolder;
}

.profile_image {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
}

.networks {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* DA UN SALTO DE LINEA*/
    flex-direction: column;
}

a {
    margin-top: 40px;
    text-decoration: none;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* NO DA SALTO DE LINEA */
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
}

.logo:hover {
    transform: scale(1.1);
}

.mailto {
    padding-top: 10px;
    margin: 0;
}